{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% for offer in offers %}
       
        
            
            <h2>{{offer.nameOffer}}</h2>
            </a>
            <img src="{{offer.pictureOffer}}">
            <p class="text-justify text-break">{{ offer.descriptionOffer }}</p>
            <p>Quantité : {{offer.quantityOffer}}</p>
       
            <p>Prix avant réduction : {{ offer.initialPrice }}</p>
            <p>Prix après réduction : {{ offer.soldedPrice }}</p>
    
        
  
 {% endfor %}

{% endblock %}
